<p>side-menu works!</p>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Development
  </a>
  <a href="#" class="list-group-item list-group-item-action">IT & Software</a>
  <a href="#" class="list-group-item list-group-item-action">Office Productivity</a>
  <a routerLink="photography" class="list-group-item list-group-item-action">Photography</a>
  <a href="#" class="list-group-item list-group-item-action">Health & Fitness</a>
  <a href="#" class="list-group-item list-group-item-action">Music</a>
</div>
